<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Feel Good Bot</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <h1>Feel Good Bot</h1>

        <nav>
          <ul>
            <a href="<%= url('/') %>">Nice</a>
            <a href="<%= url('/mean') %>">Mean</a>
          </ul>
        </nav>

        <%= yield %>

        <footer>
            <p>&copy; <%= Time.now.year %> The Turing School of Software and Design</p>
        </footer>
    </body>
</html>

